a:visited {
  color: #f7f7f7;
}

.custom-bg {
  /* The image used */
  background-image: url('../images/wires.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
